@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.big-text{
    color: #EE9776;
    margin-top: 120px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    
}


.card{
    width: 20vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.15);
    margin-top: 60px;
}

.line{
    background-color: black;
    height: 1px;
    width: 100%;
}

.price1{
    color: #EE9776;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 700;
}
.price2{
    font-size: 12px;
    text-decoration: line-through;
}
.buy-options{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.buy-options img{
    width: 20px;
}
.vertical-line{
    height: 30px;
    width: 1px;
    background-color: black;
}
.card-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}